@page "/"
@using System.Threading
@using System.Threading.Tasks
@using ProjectP.Shared
@inject HttpClient Http

<h1>Hello, world!</h1><head>
    <h1>This is ProjectP!</h1>
</head>
<body>
    Write some text.
    <div>
        <textarea @bind="GetText" @bind:event="oninput" rows="20" cols="90"></textarea>
    </div>
</body>

Welcome to your new app.

@code {
    TextInstance instance = new TextInstance();
    TextInstance fakeInstance = new TextInstance(){text = "hh"};
    string getText;
    public string GetText
    {
        get
        {
            return getText;
        }
        set
        {
            instance.text = value;
            Task t = new Task(() => procText());
            t.Start();
            t.Wait();
            getText = fakeInstance.text;
        }
    }
    private async void procText()
    {
        var response = await Http.PostAsJsonAsync("GText", instance);
        fakeInstance = await response.Content.ReadFromJsonAsync<TextInstance>();   
    }
}