@page "/"
@using System.Threading
@using System.Threading.Tasks
@using ProjectP.Shared
@using System.Net.Http
@inject HttpClient Http

<head>
    <h1>This is ProjectP!</h1>
</head>
<body>
    Write some text.
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="textarea" contenteditable="true" value=@GetText @oninput=@ProcText></div>
            </div>
        </div>    
    </div>
</body>

@code {
    TextInstance instance = new TextInstance();
    TextInstance fakeInstance = new TextInstance(){Text = "hh"};
    public string GetText { get; set; } = "gg";
    public async Task ProcText(ChangeEventArgs args)
    {
        instance.Text = args.Value.ToString();
        var response = await Http.PostAsJsonAsync("GText", instance);
        fakeInstance = await response.Content.ReadFromJsonAsync<TextInstance>();
        GetText = fakeInstance.Text;
    }
}